<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New User</title>
	
</head>
<body>
<div class="container">

	<div>
	<% if flash[:errors] %>
		<% if flash[:errors].length > 1 %>
			<% flash[:errors].each do |e| %>
				<p style="color:red"><%= e %></p>
			<% end %>
		<% else %>
			<p style="color:red"><%=flash[:errors]%></p>
		<% end %>
	<% end %>
	</div>

	<form action="/users" method="post">
		<div class="form-group">
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			<b>First Name:</b>
			<label for="first_name"></label>
			<input type="text" name="first_name" id="first_name">
			</div>	
		<div class="form-group">
			<b>Last Name:</b>
			<label for="last_name"></label>
			<input type="text" name="last_name" id="last_name">
		</div>
		<div class="form-group">
			<b>Email:</b>
			<label for="email"></label>
			<input type="text" name="email" id="email">
		</div>
		<div class="form-group">
			<b>Password:</b>
			<label for="password"></label>
			<input type="password" name="password" id="password">
		</div>
			<button>Create</button>
	</form>
</div>
	
</body>
</html>